{% extends "base.html" %}
{% block content %} 
{% if user.is_authenticated %}
  Olá {{ user.username }}!
  <form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>
{% else %}
  <p>Você não está logado</p> 
  <a href="{% url 'login' %}">Login</a> 
{% endif %} 
{% block 'body' %} 
    <div class="container">
        <br>
        <h1>Home</h1>
        <br>
        <p>Olá seja bem-vindo a home da agenda!</p>
        <br>
        <p>Para acessar as funcionalidades da agenda, clique no menu acima.</p>
        <br>
        <a href="{% url 'logout' %}">logout</a> 
    </div>
{% endblock %}
{% endblock %}